body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

/* .footer {
  background: #333;
  padding: 15px 0;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer a:hover {
  text-decoration: none;
  color: #fff;
} */
